examples/example-datacleasing-all-nodes.json
[
    {
        "id": "d589d8bb.6c9a58",
        "type": "moduleinput",
        "z": "7091f55b6dde4501",
        "client": "537d24ae.0a466c",
        "input": "input1",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "e6adb1b4.e4a1d"
            ]
        ]
    },
    {
        "id": "d5177694.b4ac78",
        "type": "debug",
        "z": "7091f55b6dde4501",
        "name": "traceLog",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 140,
        "wires": []
    },
    {
        "id": "d5d61b3.83ec0e8",
        "type": "data-cleansing2",
        "z": "7091f55b6dde4501",
        "name": "",
        "data": "payload",
        "dataType": "GaudiMsg",
        "fmtid": "format",
        "fmtidType": "metaKey",
        "fmtinfo": "b4ae7036.4043a",
        "addins": {
            "data": []
        },
        "dirty": false,
        "editors": [],
        "codecheck": 0,
        "cnverr": "1",
        "x": 540,
        "y": 60,
        "wires": [
            [
                "cd59484d.937988",
                "50788004.759ae"
            ],
            [
                "d5177694.b4ac78"
            ]
        ]
    },
    {
        "id": "3c2f8d9c.121b62",
        "type": "comment",
        "z": "7091f55b6dde4501",
        "name": "上位モジュールでformatID付与済みであればGetFormatIDノードは不要",
        "info": "",
        "x": 300,
        "y": 180,
        "wires": []
    },
    {
        "id": "50788004.759ae",
        "type": "moduleoutput",
        "z": "7091f55b6dde4501",
        "client": "537d24ae.0a466c",
        "output": "TestOutput",
        "x": 800,
        "y": 60,
        "wires": []
    },
    {
        "id": "cd59484d.937988",
        "type": "debug",
        "z": "7091f55b6dde4501",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "e6adb1b4.e4a1d",
        "type": "get-format-number",
        "z": "7091f55b6dde4501",
        "name": "",
        "from": "payload",
        "to": "format",
        "toType": "metaKey",
        "x": 340,
        "y": 60,
        "wires": [
            [
                "d5d61b3.83ec0e8"
            ]
        ]
    },
    {
        "id": "537d24ae.0a466c",
        "type": "edgeclient"
    },
    {
        "id": "b4ae7036.4043a",
        "type": "format-info",
        "name": "Format Info",
        "fmtinfos": "[{\"fno\":\"999\",\"fmt\":\"{}\"}]"
    }
]