examples/example-datacleasing-all-nodes.json
[{"id":"d589d8bb.6c9a58","type":"moduleinput","z":"32200fc.94ea1f","client":"537d24ae.0a466c","input":"input1","x":110,"y":220,"wires":[["e6adb1b4.e4a1d"]]},{"id":"d5177694.b4ac78","type":"debug","z":"32200fc.94ea1f","name":"traceLog","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":300,"wires":[]},{"id":"d5d61b3.83ec0e8","type":"data-cleansing","z":"32200fc.94ea1f","name":"","data":"payload","dataType":"GaudiMsg","fmtinfo":"format_info","addins":{"data":[]},"dirty":false,"editors":[],"codecheck":0,"x":720,"y":220,"wires":[["cd59484d.937988","50788004.759ae"],["d5177694.b4ac78"]]},{"id":"b4ae7036.4043a","type":"set-format-info","z":"32200fc.94ea1f","name":"","fno":"format","fnoType":"metaKey","fmt":"format_info","fmtinfos":{"data":[{"fno":"999","fmt":"{}"}]},"x":520,"y":220,"wires":[["d5d61b3.83ec0e8"]]},{"id":"3c2f8d9c.121b62","type":"comment","z":"32200fc.94ea1f","name":"上位モジュールでformat番号付与済みであればGetFormatNoノードは不要","info":"","x":280,"y":340,"wires":[]},{"id":"50788004.759ae","type":"moduleoutput","z":"32200fc.94ea1f","client":"537d24ae.0a466c","output":"TestOutput","x":1020,"y":220,"wires":[]},{"id":"cd59484d.937988","type":"debug","z":"32200fc.94ea1f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":260,"wires":[]},{"id":"e6adb1b4.e4a1d","type":"get-format-number","z":"32200fc.94ea1f","name":"","from":"payload","to":"format","toType":"metaKey","x":320,"y":220,"wires":[["b4ae7036.4043a"]]},{"id":"537d24ae.0a466c","type":"edgeclient","z":""}]